@using aspnet_store.Models.ViewModels.ServicoViewModels
@model AddServicoViewModel

<h1>Adicionar Serviço</h1>

<form asp-action="Add" method="post">
    <div class="mt-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Descrição</label>
        <textarea class="form-control" asp-for="Descricao"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Data Inicial</label>
        <input type="date" class="form-control" asp-for="DataInicial" id="DataInicial" />
        <span asp-validation-for="DataInicial" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Data Final</label>
        <input type="date" class="form-control" asp-for="DataFinal" id="DataFinal" />
        <span asp-validation-for="DataFinal" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Preço</label>
        <input type="number" class="form-control" asp-for="Preco" step="0.01" id="Preco" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Fornecedor</label>
        <div class="input-group">
            <input type="text" class="form-control rounded-end" asp-for="FornecedorNome" id="fornecedorNome" readonly />
            <input type="hidden" asp-for="FornecedorId" id="fornecedorId" />
            <span asp-validation-for="FornecedorId" class="text-danger"></span>
            <div class="input-group-append">
                <button class="btn btn-outline-primary rounded-start" type="button" data-bs-toggle="modal" data-bs-target="#fornecedorModal" style="margin-left: 10px">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <label class="form-label">Prazo de Entrega (dias)</label>
        <input type="number" class="form-control" asp-for="PrazoEntrega" readonly />
        <span asp-validation-for="PrazoEntrega" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

<!-- Modal para Fornecedor -->
<div class="modal fade" id="fornecedorModal" tabindex="-1" aria-labelledby="fornecedorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fornecedorModalLabel">Selecione um Fornecedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fornecedor in Model.Fornecedores)
                        {
                            <tr onclick="selectFornecedor('@fornecedor.Id', '@fornecedor.Nome')" style="cursor: pointer;" data-bs-dismiss="modal">
                                <td>@fornecedor.Id</td>
                                <td>@fornecedor.Nome</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function selectFornecedor(id, nome) {
            document.getElementById('fornecedorId').value = id;
            document.getElementById('fornecedorNome').value = nome;
        }

        document.getElementById("DataInicial").addEventListener("change", function () {
            var dataInicial = document.getElementById("DataInicial").value;
            document.getElementById("DataFinal").setAttribute("min", dataInicial);
            calculatePrazoEntrega();
        });

        document.getElementById("DataFinal").addEventListener("change", calculatePrazoEntrega);

        function calculatePrazoEntrega() {
            var dataInicial = document.getElementById("DataInicial").value;
            var dataFinal = document.getElementById("DataFinal").value;

            if (dataInicial && dataFinal) {
                var date1 = new Date(dataInicial);
                var date2 = new Date(dataFinal);
                if (date2 < date1) {
                    alert("Data Final não pode ser menor que a Data Inicial.");
                    document.getElementById("DataFinal").value = "";
                    document.getElementById("PrazoEntrega").value = "";
                    return;
                }
                var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                document.getElementById("PrazoEntrega").value = diffDays;
            } else {
                document.getElementById("PrazoEntrega").value = "";
            }
        }

        document.getElementById("Preco").addEventListener("input", function () {
            var preco = document.getElementById("Preco").value;
            if (preco < 0) {
                alert("Preço não pode ser negativo.");
                document.getElementById("Preco").value = "";
            }
        });
    </script>
}
