@using aspnet_store.Models.ViewModels.ServicoViewModels
@model AddServicoViewModel

<h1>Editar Serviço</h1>

@if (Model is null)
{
    <p>Serviço não encontrado</p>
}
else
{
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" asp-for="Nome" />
        </div>

        <div class="mt-3">
            <label class="form-label">Descrição</label>
            <textarea class="form-control" asp-for="Descricao"></textarea>
        </div>

        <div class="mt-3">
            <label class="form-label">Preço</label>
            <input type="number" class="form-control" asp-for="Preco" />
        </div>

        <div class="mt-3">
            <label class="form-label">Data Inicial</label>
            <input type="date" class="form-control" asp-for="DataInicial" />
        </div>

        <div class="mt-3">
            <label class="form-label">Data Final</label>
            <input type="date" class="form-control" asp-for="DataFinal" />
        </div>

        <div class="mt-3">
            <label class="form-label">Prazo de Entrega (dias)</label>
            <input type="number" class="form-control" asp-for="PrazoEntrega" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label">Fornecedor</label>
            <div class="input-group">
                <input type="text" class="form-control rounded-end" asp-for="FornecedorNome" id="fornecedorNome" readonly disabled />
                <input type="hidden" asp-for="FornecedorId" id="fornecedorId" />
                <span asp-validation-for="FornecedorId" class="text-danger"></span>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary rounded-start" type="button" data-bs-toggle="modal" data-bs-target="#fornecedorModal" style="margin-left: 10px">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
}

<!-- Modal -->
<div class="modal fade" id="fornecedorModal" tabindex="-1" aria-labelledby="fornecedorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fornecedorModalLabel">Selecione um Fornecedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fornecedor in Model.Fornecedores)
                        {
                            <tr onclick="selectFornecedor('@fornecedor.Id', '@fornecedor.Nome')" style="cursor: pointer;" data-bs-dismiss="modal">
                                <td>@fornecedor.Id</td>
                                <td>@fornecedor.Nome</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function selectFornecedor(id, nome) {
            document.getElementById('fornecedorId').value = id;
            document.getElementById('fornecedorNome').value = nome;
        }
    </script>
}
